
<hr><h1>Men's Collection</h1><hr>
<div class="container-fluid">
     <div class="row">
     <div class="col-md-12">
    <img  id="two" class="rounded"  src="../assets/images/topman.jpg">
    <img id="three" class="rounded" src="../assets/images/12 Hot Black Men In Amazing Suit_ – A Million Styles.jpeg"> 
     </div>
    </div>
    <div class="container bg bg-dark">
     <!-- <h1>DRESSUP!</h1> -->
     <p>What feels better than having a site where you can sell or window shop<br> clads that you like?
    We got you covered!</p>
     </div> 
      
     </div>
     <br>
     <hr>
     <br>
    <div class="container ">
      <div class="row">
        <div class="col-md-3 ">
         <div class="card">
          <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE (2).jpeg">
          <div class="card-footer">
            <button class="btn btn-secondary center">Details</button>
          </div>
         </div>
        </div>
        <div class="  col-md-3">
          <div class="card">
          <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE.jpeg">
          <div class="card-footer">
            <button class="btn btn-secondary center">Details</button>
          </div>
        </div>
      </div>
        <div class="  col-md-3">
          <div class="card">
    <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE (1).jpeg">
    <div class="card-footer">
      <button class="btn btn-secondary center">Details</button>
    </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card">
          <img src="../assets/images/men4.jpg">
          <div class="card-footer">
            <button class="btn btn-secondary center">Details</button>
          </div>
          </div>
          </div>
      </div>
      <br><br>
  <div class="row ">
  <div class="  col-md-3  ">
    <div class="card">
    <img src="../assets/images/Varsity Guy.jpeg">
    <div class="card-footer">
      <button class="btn btn-secondary center">Details</button>
    </div>
    </div>
    <p></p>
  
  </div>
  <div class=" col-md-3">
    <div class="card">
    <img src="../assets/images/lena-kudryavtseva-itUsEU7GgDU-unsplash.jpg">
    <div class="card-footer">
      <button class="btn btn-secondary center">Details</button>
    </div>
    </div>
  </div>
  <div class=" col-md-3">
    <div class="card">
<img src="../assets/images/style men.jpeg">
<div class="card-footer">
  <button class="btn btn-secondary center">Details</button>
</div>
</div>
  </div>
  <div class=" col-md-3">
    <div class="card">
    <img src="../assets/images/men2.jpg">
    <div class="card-footer">
      <button class="btn btn-secondary center">Details</button>
    </div>
    </div>
      </div>
      
  </div>
  <br><br>
  
  <div class="row">
    <div class="col-md-3 ">
      <div class="card">
      <img src="../assets/images/men6.jpg">
      <div class="card-footer">
        <button class="btn btn-secondary center">Details</button>
      </div>
      </div>
      <p></p>
    
    </div>
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/men7.jpg">
      <div class="card-footer">
          <button class="btn btn-secondary center">Details</button>
        </div>
        </div>
        <p></p>
      
      </div>
    </div>
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/men8.jpg">
      <div class="card-footer">
        <button class="btn btn-secondary center">Details</button>
      </div>
    </div>
    </div>
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/men9.jpg">
      <div class="card-footer">
        <button class="btn btn-secondary center">Details</button>
      </div>
    </div>
    </div>
    
    </div>
  </div> 
  
  
  
  
  
  
  
