.container-fluid{
    color:white;
    width:100%;
    height:500px;
}
#head{
    width: 50%;
    height: 400px;
    position:center;
    margin-left:250px;
}
.centerladies{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
h1{
    text-align:center;
    font-family: 'Satisfy', cursive;
    padding-top: 100px;
    margin-left:50px;
    margin-right: 10%;
}
p{
    float:right;
    font-size:20px;
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
    margin-left:5%;
    margin-right: 10%;
}
.card{
    border:0px solid grey;
    width:250px;
    height:300px;
}
.card-footer{
    background-color: white;
}
#lady1,#lady2,#lady3{
    width:90%;
    height:450px;
    border-radius: 2px solid black;

}