<app-navbar></app-navbar>
<h1>Gents Collection</h1><hr>
<div class="container-fluid">
     <div class="row">
     <div class="col-md-12">
    <img  id="two" class="rounded"  src="../assets/images/topman.jpg">
    <img id="three" class="rounded" src="../assets/images/12 Hot Black Men In Amazing Suit_ – A Million Styles.jpeg"> 
     </div>
    </div>
    <div class="container bg bg-dark">
     <!-- <h1>DRESSUP!</h1> -->
     <p>What feels better than having a site where you can sell or window shop<br> clads that you like?
    We got you covered!</p>
     </div> 
      
     </div>
     <br>
     <hr>
     <br>
    <div class="container ">
      <div class="row">
        <div class="col-md-3 ">
         <div class="card">
          <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE (2).jpeg">
          <div class="card-footer">
            <button class="btn btn-bg-secondary center">Details</button>
          </div>
         </div>
        </div>
        <div class="  col-md-3">
          <div class="card">
          <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE.jpeg">
          <div class="card-footer">
            <button class="btn btn-bg-secondary center">Details</button>
          </div>
        </div>
      </div>
        <div class="  col-md-3">
          <div class="card">
    <img src="../assets/images/Designer Clothes, Shoes & Bags for Women _ SSENSE (1).jpeg">
    <div class="card-footer">
      <button class="btn btn-bg-secondary center">Details</button>
    </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card">
          <img src="../assets/images/men4.jpg">
          <div class="card-footer">
            <button class="btn btn-bg-secondary center">Details</button>
          </div>
          </div>
          </div>
      </div>
      <br><br>
  <div class="row ">
  <div class="  col-md-3  ">
    <div class="card">
    <img src="../assets/images/Varsity Guy.jpeg">
    <div class="card-footer">
      <button class="btn btn-bg-secondary center">Details</button>
    </div>
    </div>
    <p></p>
  
  </div>
  <div class=" col-md-3">
    <div class="card">
    <img src="../assets/images/white2.jpg">
    <div class="card-footer">
      <button class="btn btn-bg-secondary center">Details</button>
    </div>
    </div>
  </div>
  <div class=" col-md-3">
    <div class="card">
<img src="../assets/images/white3.jpg">
<div class="card-footer">
  <button class="btn btn-bg-secondary center">Details</button>
</div>
</div>
  </div>
  <div class=" col-md-3">
    <div class="card">
    <img src="../assets/images/men2.jpg">
    <div class="card-footer">
      <button class="btn btn-bg-secondary center">Details</button>
    </div>
    </div>
      </div>
      
  </div>
  <br><br>
  
  <div class="row">
    <div class="col-md-3 ">
      <div class="card">
      <img src="../assets/images/white4.jpg">
      <div class="card-footer">
        <button class="btn btn-bg-secondary center">Details</button>
      </div>
      </div>
      <p></p>
    
    </div>
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/men7.jpg">
      <div class="card-footer">
          <button class="btn btn-bg-secondary center">Details</button>
        </div>
        </div>
        <p></p>
      
      </div>
   
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/white5.jpg">
      <div class="card-footer">
        <button class="btn btn-bg-secondary center">Details</button>
      </div>
    </div>
    </div>
    <div class=" col-md-3">
      <div class="card">
      <img src="../assets/images/white6.jpg">
      <div class="card-footer">
        <button class=" btn btn-bg-secondary center">Details</button>
      </div>
    </div>
    </div>
    </div>
  </div>
  <hr><br>
    <footer class="page-footer font-small elegant-color">

      <div class="color-primary">
          <div class="container">
  
              <!-- Grid row-->
              <div class="row py-4 d-flex align-items-center">
  
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0">Get connected with us on social networks!</h6>
                  </div>
                  <!-- Grid column -->
  
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
  
                      <!-- Facebook -->
                      <a class="fb-ic">
                          <i class="fab fa-facebook-f white-text mr-4"> </i>
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                          <i class="fab fa-twitter white-text mr-4"> </i>
                      </a>
                      <!-- Google +-->
                      <a class="gplus-ic">
                          <i class="fab fa-google-plus-g white-text mr-4"> </i>
                      </a>
                      <!--Linkedin -->
                      <a class="li-ic">
                          <i class="fab fa-linkedin-in white-text mr-4"> </i>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                          <i class="fab fa-instagram white-text"> </i>
                      </a>
  
                  </div>
                  <!-- Grid column -->
  
              </div>
              <!-- Grid row-->
  
          </div>
      </div>
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left pt-4 pt-md-5">
  
          <!-- Grid row -->
          <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
              <!-- Grid column -->
              <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
                  <!-- Links -->
                  <h5>LET US HELP YOU</h5>
                  <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
                  <ul class="list-unstyled foot-desc">
                      <li class="mb-2">
                          <a href="#!">Help Center</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">How to shop on our site?</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Shipping and delivery</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Return Policy</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Report a Product</a>
                      </li>
                  </ul>
  
              </div>
              <!-- Grid column -->
  
              <hr class="clearfix w-100 d-md-none">
  
              <!-- Grid column -->
              <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
                  <!-- Links -->
                  <h5>Products</h5>
                  <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
                  <ul class="list-unstyled foot-desc">
                      <li class="mb-2">
                          <a href="#!">Men Clothes</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Women Clothes</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Kids Clothes</a>
                      </li>
                  </ul>
  
              </div>
              <!-- Grid column -->
  
              <hr class="clearfix w-100 d-md-none">
  
              <!-- Grid column -->
              <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
                  <!-- Links -->
                  <h5>Useful links</h5>
                  <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
                  <ul class="list-unstyled foot-desc">
                      <li class="mb-2">
                          <a href="#!">Your Account</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Become an Affiliate</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!">Help</a>
                      </li>
                  </ul>
  
              </div>
              <!-- Grid column -->
  
              <hr class="clearfix w-100 d-md-none">
  
              <!-- Grid column -->
              <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
                  <!-- Links -->
                  <h5>Contacts</h5>
                  <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
                  <ul class="fa-ul foot-desc ml-4">
                      <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Nairobi, Avenue Street 10
                      </li>
                      <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+2547 123 456 789</li>
                      <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>dressup@gmail.com</li>
                  </ul>
  
              </div>
              <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="/"> dressup.com</a>
      </div>
      <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    
    <!-- </div> -->
  
  
  
  
  
  
  
  
