

#logo{
    width:100px;
    height:100%;
    margin-right:30px;
    color: transparent;

}
#home{
    margin-top: 20px;
}
.left {
    margin-top:5px;
    text-decoration-color: white;
   padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
  }
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5B8C5A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: white;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
 
  
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #5B8C5A!important;
    }
  }
  .view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#5B8C5A}@media only screen and (max-width:768px){.navbar{background-color:#5B8C5A}}