<div  style="padding-top: 50px; overflow: hidden; padding-bottom: 50px;" >
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            
            <div class="card" >
                <div class="card-header" >
                    <h3 class="text-center font-weight-bold">Sign In</h3>
                </div>
                <div>
                    <form class="text-center border border-light p-5" >
                        <!-- Email -->
                        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                    
                        <!-- Password -->
                        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                    
                        <div class="d-flex justify-content-around">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me 
                            </label>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="">Forgot password?</a>
                        </div>
                        </div>
                    
                        <!-- Sign in button -->
                        <button  block="true" class="btn btn-info" type="submit">Sign In</button>
                    
                        <!-- Register -->
                        <p>Not a member?
                        <a href="/register">Register</a>
                        </p>
                    
                    </form>
                </div>
                <div class="card-footer">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I agree to the <a href="#">Terms and Conditions</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>
