
<div class="col-lg-4 col-lg-4 col-lg-4 " id="products">
    <div *ngFor="let product of products$ | async">
        <img class="card-img-top" src="{{ product.image_path }}" alt="Card image cap">
        <div class="card " >
            <img src="" alt="">
            <div class="card-body">
                <h5 class="card-title">Product details</h5>
                <p class="card-text">Price:{{ product.name }} </p>
                <p class="card-text">Category:{{ product.category }} </p>
            </div>
        </div><br>
    </div>
</div>

