#ladies{
  padding-top:120px;
}

h1{
    text-align:center;
    font-family: 'Satisfy', cursive;
    padding-top: 100px;
    margin-left:70px;
    margin-right: 10%;
}
.container-fluid{
    color:white;
    width:100%;
    height:500px;
    /* margin-left:10px; */
    
}

#head{
    width: 70%;
    height: 400px;
    position:center;
    margin-left:40px;
    
}
.index-grid-img-3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-gap: 20px;
    margin-left:100px;
    margin-right: 20px;;
  
     
}
@media screen and (max-width:1130px){
    .index-grid-img-3{
      padding-left:30px;
      padding-right:30px;
    }
  }
  #first {
    font-family: 'Satisfy', cursive;
    font-size:30px;
    font-style:italic;
    text-align:center;
    position: absolute;
    margin: auto;
    width: 50%;
    height:40%;
    border: 3px;
    padding: 40px;
    margin-left:50%;
    margin-top:100px;
    margin-right:20px;
  }
  .btn-secondary{
    color:grey;
    margin-left:50px;
    margin-bottom:5px;
}
.centerladies{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#lady1,#lady2,#lady3{
    width:90%;
    height:450px;
    border-radius: 2px solid #596157;

}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #596157!important;
    }
  }
  .view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#596157}@media only screen and (max-width:768px){.navbar{background-color:#596157}}

  
