<app-navbar></app-navbar>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-4">
      <img id="head" src="../assets/images/Women High Waisted Two Piece Swimsuit Red Spaghetti Strap Ruffle Overlay Floral Printed Bathing Suit Top And Pantskirt By Rosewe High Waist Ruffle-removebg-preview.jpg">
    </div>
    <div class="col-md-4">
  <img id="head" src="../assets/images/ladies5.jpg">
    </div>
    <div class="col-md-4">
  <img id="head" src="../assets/images/womanhead3.jpg">
 </div> 
    </div>
  </div>
  <div class="index-grid-img-3">
   <p ID="first" >LETS GET YOUR GLAM!
    <br>
    <br> 
    From the runway to your wadrobe
    <br>
    For the Young, Wild & Stylish
    <br>
    Just like your way to Conquer
   </p>
   

    <a href=""><img src="../assets/images/yellow.jpeg" alt="" class="rounded"srcset=""></a>
</div>
 
  
    


    
 <hr><br>
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top image-fluid" src="../assets/images/ladies11.jpg" alt="Card image cap">
                <div class="card-footer">
                  <button class="btn btn-bg-secondary center">Details</button>
              </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top image-fluid" src="../assets/images/ladies10.jpg" alt="Card image cap">
              <div class="card-footer">
                <button class="btn btn-bg-secondary center">Details</button>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top image-fluid" src="../assets/images/ladies9.jpg" alt="Card image cap">
              <div class="card-footer">
                <button class="btn btn-bg-secondary center">Details</button>
                
              </div>
            </div>
          </div>
      </div>
  </div>
        <div class="container">
          <div class="row">
         
          <div class="col-md-4">
            <div class="card mb-10">
              <img class="card-img-top image1 image-fluid" src="../assets/images/ladies8.jpg" alt="Card image cap">
              <div class="card-footer">
                <button class="btn btn-bg-secondary center">Details</button>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top image1 image-fluid" src="../assets/images/ladies7.jpg" alt="Card image cap">
              <div class="card-footer">
                <button class="btn btn-bg-secondary center">Details</button>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top image1" src="../assets/images/ladies6.jpg" alt="Card image cap">
                <div class="card-footer">
                  <button class="btn btn-bg-secondary center">Details</button>
              </div>
              </div>
            </div>
  </div>
</div>
<div class="container">
  <div class="row">
 
  <div class="col-md-4">
    <div class="card mb-10">
      <img class="card-img-top image1 image-fluid" src="../assets/images/display1-removebg-preview.jpg" alt="Card image cap">
      <div class="card-footer">
        <button class="btn btn-bg-secondary center">Details</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-2">
      <img class="card-img-top image1 image-fluid" src="../assets/images/ladies12.jpg" alt="Card image cap">
      <div class="card-footer">
        <button class="btn btn-bg-secondary center">Details</button>
        
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top image1" src="../assets/images/ladies13.jpg" alt="Card image cap">
        <div class="card-footer">
          <button class="btn btn-bg-secondary center">Details</button>
      </div>
      </div>
    </div>

</div>
</div>
