<app-navbar></app-navbar>
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-4">
      <img id="head" src="../assets/images/woman4.jpg">
    </div>
    <div class="col-md-4">
  <img id="head" src="../assets/images/woman2.jpg">
    </div>
    <div class="col-md-4">
  <img id="head" src="../assets/images/woman5jjpg">
 </div>
    </div>
  </div>
    <div class="center">
      <h1 class="h1-reponsive text-black text-uppercase font-weight-bold mb-0 pulse"><strong>Dress Up</strong></h1>
      <h5 class="text-uppercase mb-4 text-black floater"><strong>We have the best collections for you!!</strong></h5>
  </div>
  
  
    


    
 
    <div class="controls-top"> 
      <h2 id="collections">LAdies Glam</h2>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
           
              <img  src="../assets/images/woman6.jpg" alt="Card image cap">
              <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">African Print</p>
            </div>
            </div>
          

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top image-fluid" src="../assets/images/woman6.jpg" alt="Card image cap">
            <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">Ladies'Crop Tops</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top image-fluid" src="../assets/images/woman8.jpg" alt="Card image cap">
            <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">Men Casual Wear</p>
              
            </div>
          </div>
        </div>
    </div>
</div>
      <div class="container">
        <div class="row">
       
        <div class="col-md-4">
          <div class="card mb-10">
            <img class="card-img-top image1 image-fluid" src="../assets/images/woman9.jpg" alt="Card image cap">
            <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">Men's Official Wear</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top image1 image-fluid" src="../assets/images/woman10.jpg" alt="Card image cap">
            <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">Men's Formal Wear</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top image1" src="../assets/images/woman1.jpg" alt="Card image cap">
              <div class="firstcard">
                <p class="para font-weight-bold text-uppercase">Ladies Sweat Pants</p>
            </div>
            </div>
          </div>
</div>
</div>
