
<nav class="navbar fixed-top navbar-expand-md navbar-dark scrolling-navbar">
  <!-- Brand -->
  <a class="navbar-brand" href="/" >
      <img class="rounded" src="../assets/images/pngegg.png" id="logo"> 
      <strong id="app" style="color:white;">DressUp </strong> 
  </a>
  

  <!-- Collapse -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->

      <ul class="navbar-nav mr-auto">
      <br>
      
          <div class="dropdown">
          <strong><a class="left" style="color:white;font-weight:bold">Menu</a></strong>
          <div class="dropdown-content" >
              <a  href="#services" >Our Services</a>
              <a  href="#media" >Media</a>
              <a  href="#contacts" >Contact Us</a>
              <a  href="https://dressup05.herokuapp.com/dressup/administrator/" >Admin Dashboard</a>
          </div>
          </div>
          <br>

          <div class="dropdown">
          <strong><a class="left" style="color:white;font-weight:bold">Categories</a></strong>
          <div class="dropdown-content" style="font-weight: bold;">
              <a routerLink="/men" routerLinkActive="active"  >Gents</a>
              <a routerLink="/ladies" routerLinkActive="active" >Ladies</a>
              <a routerLink="/juniors" routerLinkActive="active" >Juniors</a>
          </div>
          </div>
      </ul>
  </div>
</nav>
<div  style="padding-top: 150px;padding-bottom: 50px; overflow: hidden;" >
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            
            <div class="card" >
                <div class="card-header">
                    <h3 class="text-center font-weight-bold">Sign Up</h3>
                </div>
                <div>
                    <form class="text-center border border-light p-5">

                        <!-- E-mail -->
                        <input [(ngModel)]="register.username" [ngModelOptions]="{standalone: true}" type="text" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username">
                    
                    
                        <!-- E-mail -->
                        <input  [(ngModel)]="register.email" [ngModelOptions]="{standalone: true}" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
                    
                        <!-- Password -->
                        <input  [(ngModel)]="register.password" [ngModelOptions]="{standalone: true}" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                          At least 8 characters and 1 digit
                        </small>
                    
                        <!-- Sign up button -->
                        <button (click)="registerUser()" class="btn " type="submit">Sign Up</button><br>
                        <!-- login -->
                        <small>Already have an account?
                          <a href="/login">Log in </a>
                        </small>

                        <hr>
                    
                        <!-- Terms of service -->
                        <small>By clicking
                          <em>Sign up</em> you agree to our
                          <a href="" target="_blank">terms of service</a></small>

                            <!-- Form validation -->
                          <!-- <label for="login">Login:</label>
                          <input id="login" formControlName="login">
                        
                          <button [disabled]="form.invalid || form.pending">
                            Send
                            <span *ngIf="form.get('login').pending"> (searching)</span>
                          </button>
                        
                          <p style="color: red" *ngIf="form.get('login').errors?.userNameExists">Not available</p>
                        
                          <hr>
                        
                          <small>NOTE: Bret, Samantha, Karianne are already taken. Try them</small> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small" id="contacts">

  <div class="color-primary">
      <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 ">
                  <h6 class="mb-0 ">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right ">

                  <!-- Facebook -->
                  <a class="fb-ic ">
                      <i class="fab fa-facebook-f white-text mr-4 "> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic ">
                      <i class="fab fa-twitter white-text mr-4 "> </i>
                  </a>
                  <!-- Google +-->
                  <a class="gplus-ic ">
                      <i class="fab fa-google-plus-g white-text mr-4 "> </i>
                  </a>
                  <!--Linkedin -->
                  <a class="li-ic ">
                      <i class="fab fa-linkedin-in white-text mr-4 "> </i>
                  </a>
                  <!--Instagram-->
                  <a class="ins-ic ">
                      <i class="fab fa-instagram white-text "> </i>
                  </a>

              </div>
              <!-- Grid column -->

          </div>
          <!-- Grid row-->

      </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 ">

              <!-- Links -->
              <h5>LET US HELP YOU</h5>
              <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60 ">

              <ul class="list-unstyled foot-desc ">
                  <li class="mb-2 ">
                      <a href="#! ">Help Center</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#! ">How to shop on our site?</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#! ">Shipping and delivery</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#! ">Return Policy</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#! ">Report a Product</a>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none ">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 ">

              <!-- Links -->
              <h5>Products</h5>
              <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60 ">

              <ul class="list-unstyled foot-desc ">
                  <li class="mb-2 ">
                      <a routerLink="/men" routerLinkActive="active">Men Clothes</a>
                  </li>
                  <li class="mb-2 ">
                      <a routerLink="/ladies" routerLinkActive="active">Women Clothes</a>
                  </li>
                  <li class="mb-2 ">
                      <a routerLink="/juniors" routerLinkActive="active">Kids Clothes</a>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none ">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 ">

              <!-- Links -->
              <h5>Useful links</h5>
              <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60 ">

              <ul class="list-unstyled foot-desc ">
                  <li class="mb-2 ">
                      <a href="#! ">Your Account</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#sell">Become Seller</a>
                  </li>
                  <li class="mb-2 ">
                      <a href="#! ">Help</a>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none ">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 ">

              <!-- Links -->
              <h5 >Contacts</h5>
              <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60 ">

              <ul class="fa-ul foot-desc ml-4 ">
                  <li class="mb-2 "><span class="fa-li "><i class="far fa-map "></i></span>Nairobi, Avenue Street 10
                  </li>
                  <li class="mb-2 "><span class="fa-li "><i class="fas fa-phone-alt "></i></span>+2547 123 456 789</li>
                  <li class="mb-2 "><span class="fa-li "><i class="far fa-envelope "></i></span>dressup@gmail.com</li>
              </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
      <a href="/"> dressup.com</a>
  </div>
  <!-- Copyright -->

</footer>
